@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 86%);
    padding: 6rem 0;
} 

.flex {
    display: flex;
  }
  
  .flex-ai-c {
    align-items: center;
  }
  
  .flex-jc-c {
    justify-content: center;
  }

.container {
    background-color: #fff;
    width: 50%;
    margin: 0 auto;
    padding: 3rem;
    border-radius: 20px;
    border-bottom-right-radius: 25%;
    position: relative;
}
.age-input {
    display: flex;
    gap: 3em;
    margin-bottom: 30px;
}

.block {
    display: flex;
    flex-direction: column;
}

hr {
    color: hsl(0, 0%, 86%);
    margin-bottom: 20px;
}

label {
text-transform: uppercase;
font-size: 12px;
font-weight: 700;
color: hsl(0, 1%, 44%);
letter-spacing: 4px;
margin-bottom: 5px;
}

input {
    padding: 12px 10px;
    width: 7rem;
    font-size: 22px;
    font-weight: 700;
    border: 1px solid hsl(0, 0%, 86%);
    border-radius: 7px;
    font-family: inherit;
}


.side-by-side {
    display: flex; 
    gap: 2px;
    font-size: 3rem;
    font-weight: 800;
    color: hsl(0, 0%, 8%);
    font-style: italic;
}
span {
    color: hsl(259, 100%, 65%);
    
}
.arrow {
    background-color: hsl(259, 100%, 65%);
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 10px 5px;
    position: absolute;
    top: 135px;
    right: 48px;
}

.arrow:hover {
    background-color: black;
}

img {
    height: 2rem;
}

.attribution {
    margin-top: 30px;
    text-align: center;
}

#input-btn {
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    padding: 10px;
    border: 0;
    position: absolute;
    right: 20px;
    outline: none;
  }





















